<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>DJAGO_OPENCV</title>
</head>
<body>

{% block body %}
<h1></h1>
<table>
    <tr>
        <td width="50%">
            여기에 비디오 영상
            <img src="http://127.0.0.1:8000/video/detectme" style="width:600px;" />
        </td>
        <td width="50%">
            <script>
                function sendVideoRequest() {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "http://127.0.0.1:8000/video/process-video/");
                    xhr.setRequestHeader("Content-Type", "application/json");
                
                    // Get the video frame as a base64 string.
                    var videoFrame = document.querySelector("img").src;
                    var canvas = document.createElement("canvas");
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(document.querySelector("img"), 0, 0);
                    var base64Frame = btoa(canvas.toDataURL("image/jpeg"));
                    console.log(base64Frame);
                    // Send the video frame to the process-video view.
                    xhr.send(JSON.stringify({
                        video: base64Frame
                    }));
                } 
            </script>
            <button onclick="sendVideoRequest()">Send Video Frame</button>

    </tr>
</table>
{% endblock %}

</body>
</html>